$primary_color: #607D8B;
$light_primary_color: #CFD8DC;
$dark_primary_color: #455A64;
$divider_color: #BDBDBD;
$accent_color: #009688;
$primary_text: #212121;
$secondary_text: #757575;
$text_icons: #FFFFFF;