
.headerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary-color;
    
    border-bottom: 1px solid lighten($color: $primary-color, $amount: 35);

    img {
        margin-left: 1rem;
    }
}

.header_quit {
    height: 100%;
    width: 8rem;
    background-color: $secondary-color;
    
    * {
        color: lighten($color: $secondary-color, $amount: 40);
    }
}
