#root {
    min-height: 100vh;
    width: 100vw;

    display: flex;
}

.navbar {
    height: 100vh;
    min-width: auto;
}

.right_content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.headerInfo {
    height: auto;
}

.app_content {
    display: flex;
    flex-direction: column;

    height: 100%;
    color: #3c4359;
}
