
#root {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(14, 1fr) / repeat(14, 1fr);
}

.layout__login {
    grid-column: 1 / 15;
    grid-row: 1 / 15;
}

.headerInfo {
    grid-column: 3 / 15;
    grid-row: 1 / 2;
}

.navbar {
    grid-column: 1 / 3;
    grid-row: 1 / 15;
}

.content{
    grid-column: 3 / 15;
    grid-row: 2 / 15;
}
