
.navbar {
    background-color: $secondary-color;
    text-align: center;
    padding-top: 2rem;

    * {
        color: lighten($color: $secondary-color, $amount: 40);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    hr {
        // height: 0.1rem;
        background-color: darken($color: $secondary-color, $amount: 10);
    }

    img {
        width: 50%;
        border-radius: 10rem;
    }
}

