
.headerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #667292;
}

.headerInfo img{
    width: 40px;
    margin-left: 20px;
}

.makeStyles-root-2 {
    padding-right: 20px;
}

.headerInfo *{
    margin: 0px;
}

.makeStyles-root-1 {
    grid-column: auto;
    grid-row: 2 / 15;
    box-shadow: 0px 5px 10px #667292;
}

nav {
    background: #bccad6;
    height: 100vh;
}

nav a {
    text-decoration: none;
    color: black;
}

.content{
    grid-column: 2 / 15;
    grid-row: 2 / 15;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: #f5f5f5;
    padding-left: 5%;
}

#homeImage {
    width: 600px;
}
